<div class="row stage-header">
  <div class="col-sm-6 stage-title">All Jobs</div>
  <div class="col-sm-6 text-right">{{#link-to "jobs.new" class="btn btn-default"}}Start New{{/link-to}}</div>
</div>

<table class="table table-striped table-hover">
  <thead>
  <tr>
    <th width="50">#</th>
    <th>Name</th>
    <th>Created At</th>
    <th>Status</th>
  </tr>
  </thead>
  <tbody>
  {{#each model as |job|}}
    {{#if job.id}}
      <tr>
        <td>{{job.id}}</td>
        <td>
          {{#if (eq job.percentage 100)}}
            {{#link-to "jobs.view" job.id}}{{job.name}}{{/link-to}}
          {{else}}
            {{job.name}}
          {{/if}}
        </td>
        <td>{{moment-from-now job.createdAt}}</td>
        <td>
          {{#if (eq job.percentage 100)}}
            Done
          {{else}}
            <div class="progress">
              <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="{{job.percentage}}" aria-valuemin="0" aria-valuemax="100" style="width: {{job.percentage}}%">
                <span class="sr-only">40% Complete (success)</span>
              </div>
            </div>
          {{/if}}
        </td>
      </tr>
    {{/if}}
  {{/each}}
  </tbody>
</table>