<div class="row stage-header">
  <div class="col-sm-6 stage-title">All Processes</div>
  <div class="col-sm-6 text-right">{{#link-to "jobs.new" class="btn btn-default"}}Start New{{/link-to}}</div>
</div>

<div class="widget">
  <table class="table jobs">
    <thead>
    <tr>
      <th width="50">#</th>
      <th>Name</th>
      <th>Created At</th>
      <th>Status</th>
    </tr>
    </thead>
    <tbody>
    {{#each model as |job|}}
      {{#if job.id}}
        <tr>
          <td>{{job.id}}</td>
          <td>{{job.name}}</td>
          <td>{{moment-from-now job.createdAt}}</td>
          <td>
            {{#if (eq job.percentage 100)}}
              {{#link-to "jobs.view" job.id}}View Result{{/link-to}}
            {{else if (not job.status)}}
              <div class="progress">
                <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar"
                     aria-valuenow="{{job.percentage}}" aria-valuemin="0" aria-valuemax="100"
                     style="width: {{job.percentage}}%">
                  {{job.percentage}}%
                  <span class="sr-only">{{job.percentage}}% Complete</span>
                </div>
              </div>
            {{else}}
              Error ({{job.status}})
            {{/if}}
          </td>
        </tr>
      {{/if}}
    {{/each}}
    </tbody>
  </table>
</div>