<div class="row stage-header">
  <div class="col-sm-6 stage-title">#{{model.id}}</div>
  <div class="col-sm-6 text-right">{{#link-to "jobs.index" class="btn btn-default"}}Back to List{{/link-to}}</div>
</div>

<div class="widget">
  <h3 class="widget__title">Result</h3>
  <ul class="result-detail">
    <li>
      <strong>Name</strong> {{model.name}}
    </li>
    <li>
      <strong>Best Direction</strong> [{{model.outputs.best_projection.[0]}}, {{model.outputs.best_projection.[1]}}]
    </li>
    <li>
      <strong>id</strong> {{model.id}}
    </li>
  </ul>
</div>

<div class="widget">
  <h3 class="widget__title">All Direction</h3>
  {{distance-table
    dir=model.ticket
    outputs=model.outputs
  }}
</div>
