<div class="row stage-header">
  <div class="col-sm-6 stage-title">#{{model.id}}</div>
  <div class="col-sm-6 text-right">{{#link-to "jobs.index" class="btn btn-default"}}Back to List{{/link-to}}</div>
</div>

<div class="widget">
  <h3 class="widget__title">Result</h3>
  <ul class="result-detail">
    <li>
      <strong>Name</strong> {{model.name}}
    </li>
    <li>
      <strong>Best Direction</strong> [{{model.outputs.best_projection.[0]}}, {{model.outputs.best_projection.[1]}}]
    </li>
    <li>
      <strong>Bottleneck Distance</strong> {{model.outputs.best_project.[2]}}
    </li>
  </ul>
</div>

<div class="widget">
  <div class="row">
    <div class="col-md-4 js-preview-detail">
      <div class="preview-detail">
        <strong>Bottleneck Distance</strong>
        <p class="js--distance">{{selected.distance}}</p>
      </div>
      <div class="preview-detail">
        <strong>Direction</strong>
        <p class="js--direction">{{selected.direction}}</p>
      </div>
      <div class="preview-detail">
        <strong>Projection Image</strong>
        <p class="js--image"><img class="preview-detail__image" src="{{selected.imageUrl}}" /></p>
      </div>
    </div>
    <div class="col-md-8">
      {{result-sphere outputs=model.outputs detailChanged=(action "detailChanged")}}
    </div>
  </div>
</div>