<div class="row stage-header">
  <div class="col-sm-6 stage-title">{{model.name}}
    <small>#{{model.id}}</small>
  </div>
  <div class="col-sm-6 text-right">{{#link-to "home" class="btn btn-default"}}Back to List{{/link-to}}</div>
</div>

<div class="widget">
  <h3 class="widget__title">Info</h3>
  <table class="table job-info">
    <tr>
      <!-- best result -->
      <td class="job-info__cell">
        <div class="job-info__key">Best Direction</div>
        <div class="job-info__value">
          ({{bestLongitude}}, {{bestLatitude}})
        </div>
        <div class="job-info__key">Shortest Bottleneck Distance</div>
        <div class="job-info__value">
          {{bestDistance}}
        </div>
        <div class="job-info__key">Data File</div>
        <div class="job-info__value"><a href="https://www.filestackapi.com/api/file/{{model.params.file}}?dl=true">download</a></div>
      </td>
      <!-- preview (3d) -->
      <td class="job-info__cell">
        <div class="job-info__key">Preview (3D)</div>
        <div class="job-info__value">
          {{light-box href=previewImgUrl
                      data-lightbox="job-info"
                      data-title="Preview (3D)"
                      data-class="job-info__image"}}
        </div>
      </td>
      <!-- preview KED -->
      <td class="job-info__cell">
        <div class="job-info__key">Persistence Diagram (3D)</div>
        <div class="job-info__value -image">
          {{light-box href=persistenceDiagramUrl
                      data-lightbox="job-info"
                      data-title="Persistance Diagram (3D)"
                      data-class="job-info__image"}}
        </div>
      </td>
      <!-- preview projection -->
      <td class="job-info__cell">
        <div class="job-info__key">Best Projection</div>
        <div class="job-info__value -image">
          {{light-box href=bestProjectionImageUrl
                      data-lightbox="job-info"
                      data-title="Best Projection"
                      data-class="job-info__image"}}
        </div>
      </td>
    </tr>
  </table>
</div>

<div class="widget inspector">
  <h3 class="widget__title">Inspector</h3>
  <div class="row">
    <div class="col-md-4">
      <div class="{{if selectedIndex "" "hidden"}}">
        <ul class="inspector__info">
          <!-- distance -->
          <li class="inspector__section">
            <div class="inspector__key">
              Bottleneck Distance
            </div>
            <div class="inspector__value">
              {{selectedDistance}}
            </div>
          </li>

          <!-- direction -->
          <li class="inspector__section">
            <div class="inspector__key">Direction (longitude, latitude)</div>
            <div class="inspector__value">
              ({{selectedLongitude}}, {{selectedLatitude}})
            </div>
          </li>

          <!-- projection image -->
          <li class="inspector__section">
            <div class="inspector__key">Projected Point Cloud</div>
            <div class="inspector__value">
              {{inspector-diagram model=model index=selectedIndex title="Projected Point Cloud" type="preview_dots"}}
            </div>
          </li>

          <!-- projection image -->
          <li class="inspector__section">
            <div class="inspector__key">Projected Graph</div>
            <div class="inspector__value">
              {{inspector-diagram model=model index=selectedIndex title="Projected Graph" type="preview_graph"}}
            </div>
          </li>

          <!-- PD -->
          <li class="inspector__section">
            <div class="inspector__key">Persistence Diagram</div>
            <div class="inspector__value">
              {{inspector-diagram model=model index=selectedIndex title="Persistence Diagram" type="diagram"}}
            </div>
          </li>
        </ul>
      </div>
      <div class="alert alert-info {{if selectedIndex "hidden" ""}}">
        No selection yet.
      </div>
    </div><!-- .col-md-4 -->
    <div class="col-md-8">
      {{rotating-sphere results=model.results directionChanged=(action "directionChanged")}}
      <small class="help-block">
        1. Each diamond represents a direction of projection. Click it to inspect the result.<br/>
        2. Drag the sphere to rotate.<br/>
        3. The best direction is marked by a diamond with red border.
      </small>
    </div>
  </div>
</div>
