<div class="card">
  <div class="card__content padding-md">
    <div class="row">
      <div class="col-sm-4">
        {{image-box url=images.preview group="analysis-info" title="Preview (3D)"}}
      </div>
      <div class="col-sm-4">
        {{image-box url=images.persistence group="analysis-info" title="Persistence Diagram"}}
      </div>
      <div class="col-sm-4">
        {{image-box url=images.projection group="analysis-info" title="Best Projection"}}
      </div>
    </div>
  </div>
</div>


<div class="card">
  <div class="card__content padding-md">
    {{#if directionData}}
      <div class="row">
        <div class="col-sm-4">
          <ul class="attribute-list">
            <li><span>Bottleneck distance</span>{{directionData.bottleneckDistance}}</li>
            <li><span>Longitude</span>{{directionData.longitude}}</li>
            <li><span>Latitude</span>{{directionData.latitude}}</li>
          </ul>
        </div>
        <div class="col-sm-4">
          {{image-box url=images.preview group="direction-info" title="Preview (3D)"}}
        </div>
        <div class="col-sm-4">
          {{image-box url=images.preview group="direction-info" title="Preview (3D)"}}
        </div>
      </div>

      <hr/>
    {{else}}
      <div class="alert alert-info">Select a direction to view projection detail.</div>
    {{/if}}

    {{rotating-sphere data=sphereData directionChanged=(action "sphereDirectionChanged")}}
    <small class="help-block">
      1. Each diamond represents a direction of projection. Click it to inspect the result.<br/>
      2. Drag the sphere to rotate.<br/>
      3. The best direction is marked by a diamond with red border.
    </small>
  </div>
</div>