<div class="card">
  <div class="card__content padding-md">
    <div class="row">
      <div class="col-sm-4">
        {{image-box url=images.preview group="analysis-info" title="Preview (3D)"}}
      </div>
      <div class="col-sm-4">
        {{image-box url=images.persistence group="analysis-info" title="Persistence Diagram"}}
      </div>
      <div class="col-sm-4">
        {{image-box url=images.projection group="analysis-info" title="Best Projection"}}
      </div>
    </div>
  </div>
</div>

{{#if sphereData}}
  <div class="card">
    <div class="card__content padding-md">

      {{#if (not currentDirectionData)}}
        <div class="alert alert-info">Select a direction to view projection detail below.</div>
      {{/if}}

      {{rotating-sphere data=sphereData directionChanged=(action "sphereDirectionChanged")}}
      <small class="help-block">
        1. Each diamond represents a direction of projection. Click it to inspect the result.<br/>
        2. Drag the sphere to rotate.<br/>
        3. The best direction is marked by a diamond with red border.
      </small>

      <hr />

      {{#if currentDirectionData}}
        <div class="row">
          <div class="col-sm-4">
            <span></span>
            <ul class="attribute-list">
              <li><span>Distance</span>{{currentDirectionData.distance}}</li>
              <li><span>Longitude</span>{{currentDirectionData.longitude}}</li>
              <li><span>Latitude</span>{{currentDirectionData.latitude}}</li>
            </ul>
          </div>
        </div>

        <hr />

        <div class="row">
          <div class="col-sm-4">
            {{image-box url=projectedImages.diagram group="direction-info" title="Persistence Diagram"}}
          </div>
          <div class="col-sm-4">
            {{image-box url=projectedImages.dots group="direction-info" title="Projected Points"}}
          </div>
          <div class="col-sm-4">
            {{image-box url=projectedImages.graph group="direction-info" title="Projected Graph"}}
          </div>
        </div>
      {{/if}}


    </div>
  </div>
{{else}}
  <div class="card">
    <div class="card__content padding-md">still running</div>
  </div>
{{/if}}