<button type="button" class="btn btn-default" data-container="body" data-toggle="popover" data-placement="left" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
  Popover on left
</button>

<div class="row">
  <div class="col-lg-3">
    <h4>Preview</h4>
    <div class="hm-preview-info">

    </div>
    <div id="hm-preview-img">

    </div>
  </div>
  <div class="col-lg-9">
    <h4>Projection by Direction <small>click a cell to preview</small></h4>
    <table id="hm" class="table right">
      <tr>
        <td></td>
        {{#each range as |angle|}}
          <td class="index">{{angle}}</td>
        {{/each}}
      </tr>
      {{#each table as |row|}}
        <tr>
          <td class="index index-column"></td>
          {{#each row as |data|}}
            <td class="cell"
                data-result="{{data.[0]}}"
                data-color="{{data.[1]}}"
                data-zx="{{data.[2]}}"
                data-zy="{{data.[3]}}"></td>
          {{/each}}
        </tr>
      {{/each}}
    </table>
  </div>
</div>